@import "tailwindcss";

body {
  background-color: var(--color-slate-600);
  color: var(--color-slate-200);
  @apply bg-linear-to-t from-slate-900 to-sky-800;
  min-height: 100dvh;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}
